.imagen1{
    border: 1px solid black; 
}
.caja2{
    border: 1px solid black; 
    display: flex;
    flex-flow:column ;
   

}
.esquinaLogin{
    border: 1px solid black;
    display: flex;
}
.menu{
    border: 1px solid black;
    display: flex;
}
.logos1{
    border: 1px solid black;
    display: flex;
}